name: golangci-lint

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.24.0'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          version: v1.64.5
          args: --timeout=5m

  golangci-version-check:
    name: golangci-lint version check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Check golangci-lint version
        shell: bash
        run: |
          set -xeuo pipefail
          WORKFLOW_VERSION=$(awk -F 'version: ' '/version: v/ {print $2}' .github/workflows/golangci-lint.yml | head -n 1)
          VERSION_FILE=$(cat .golangci.version)
          test "$WORKFLOW_VERSION" == "$VERSION_FILE"
